#root {
  display: grid;
  height: 100dvh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr auto minmax(0, 1fr) auto;
  justify-items: stretch;
}

.loading {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.lives {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.8em;
  gap: 0.2em;
}

.lives img {
  height: 1em;
  width: 1em;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.progress {
  color: #000;
  position: relative;
  font-size: 0.8em;
  height: 1.5em;
  margin: 1em;
}

.progress > * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.progress-bar {
  appearance: none;
  border: none;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  border-radius: 1em;
}

.progress-bar::-webkit-progress-value, .progress-bar::-moz-progress-bar {
  background: #17cf39;
  box-shadow: #17cf3966 0px 0px 8px;
}

.tag-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  overflow-y: auto;
  overflow-x: hidden;
}

.tag {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background: #1a2733;
  border: 1px solid #2c3640;
  padding: 8px 16px;
  border-radius: 1em;
  list-style: none;
  transition: background-color 0.3s ease 0s;
  user-select: none;
}

.tag:hover, .tag:focus-within {
  background: #2c3640;
}

.tag:focus-within {
  border: #0088ff solid 2px;
}

.tag-en {
  font-size: 0.9em;
  font-weight: normal;
  color: #b8bcbf;
}

.description {
  font-size: 0.5em;
  padding: 0.5em 0;
}

.challenge {
  margin: 0;
}

footer {
  text-align: center;
}

.button {
  cursor: pointer;
  user-select: none;
  padding: 12px 16px;
  background: var(--button);
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, transform 0.3s ease 0s, box-shadow 0.3s ease 0s;  
  color: var(--button-text);
  border-radius: 0.4em;
  border: none;
}

.button:hover {
  background: var(--button-hover);
  transform: translate(0px, -0.2em);
  box-shadow: #12a02d66 0px 4px 8px;
}

.fail {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(21, 32, 43, 0.9);
  gap: 2em;
}

.fail-text {
  color: var(--fail);
  font-weight: bold;
  font-size: 10em;
  transform: rotate(-20deg);
  animation: 1s fail-appear;
}

@keyframes fail-appear {
  from {
    transform: rotate(-20deg) scale(200%);
    opacity: 0;
  }
  to {
    transform: rotate(-20deg) scale(100%);
    opacity: 1;
  }
}

p {
  margin: 0;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#mode {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #2c3640;
  border-radius: 1em;
  background: #15202b;
  margin: 0.5em;
  padding: 0.4em 0.2em;
}

#mode:disabled {
  pointer-events: none;
  opacity: 0.5;
}

#mode input {
  display: none;
}

#mode label {
  cursor: pointer;
}

#mode input ~ span {
  padding: 0.2em 0.4em;
  border-radius: 1em;
}

#mode input:checked ~ span {
  background: #2c3640;
}